.nav-title{
    font-size: 30px;
    font-weight: 750px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 60px 80px;
}
nav ul {
    display:flex;
}
nav li {
    list-style: none;
    margin: 0px 27px;
    font-size: 20px;
    top: 68px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 27px;
    left: 981px;
    
}
.top-side{
    width: 150px;
    height: 64px;
    left: 1220px;
    border-radius: 10px;
    font-size: 20px;
    top:50px;
    background-color: orange;
    color: white;
    padding:10px:
}